* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-color: #041e42;
    --secondary-color: #be3a34;
    --tertiary-color: #ffa300;
    --quad-color: #00a9e0;
  }

  body {
    background-color: #041e42;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
  }

  /* header styles */

  header {
    background-color: var(--quad-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    padding-left: 10px;
    color: var(--primary-color);
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--primary-color);
  }
  header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
  }

  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

  /* about me section styles */
  
  .about-me {
    background-color: var(--secondary-color);
  }

  img.portrait {
    height: 200px;
    margin: 25px;
    border: var(--secondary-color) 3px solid;
    border-radius: 15%;
  }

  .about-me h3 {
    font-size: 32px;
    line-height: 2.3;
  }

  .about-me h4 {
    font-size: 26px;
    line-height: ;1.9

  }
  .about-me p {
    font: var(--tertiary-color);
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
  }

  /* work section */

  .work {
    width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .work-tile div {
    height: 200px;
    width: 400px;
    margin: auto;
    flex: 1;
  }

  .work-tile-main {
    display: flex;
    width: 80%;
    height: auto;
    align-content: center;
  }

  .work-tile-main img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
  }
  
  .work-tile img {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
  }

  .work-tile img:hover, .work-tile-main img:hover {
    opacity: 1;
  }

  .work-tile h4, .work-tile-main h4 {
    font: var(--primary-color);
    background-color: var(--quad-color);
    line-height: 1.7;
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }

  .flex-row {
    display: flex;
  }
  /* working on this  above */

  .about-me section {
    background-color: var(--secondary-color);
    color:var(--tertiary-color)
  }

  /* contact me section styles */

  .contact-me {
    background-color: var(--quad-color);
    color: var(--primary-color);
  }
  .contact-me section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-me h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    padding-left: 10px;
    color: var(--primary-color);
  }

  .contact-me a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 15px;
    font-size: 1.55vw;
  }

  address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* for smaller screens responsiveness */

@media screen and (max-width: 980px) {

}
  
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
  align-content: center

}