* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-color: #041e42;
    --secondary-color: #be3a34;
    --tertiary-color: #ffa300;
    --quad-color: #00a9e0;
  }